<!DOCTYPE html>
<html>
	<head>
		<title>Todo App</title>
		<!-- Make site responsive on mobile/tablet -->
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Custom CSS -->
      	<link rel='stylesheet' href='/stylesheets/stylesheet.css'>
		
	</head>
	<body>
		<!-- navbar	-->
