<% include ../partials/header %>

<div class='wrapper'>
	<div class="auto-grid">		
		
<!-- 	for loop (lists) {
			some display code (title and settings dropdown)
			for loop (items){
				code for list display
			}
			add new item | date selector
		}		 -->
			<div class='list'>
				<div class='header'>
					header
				</div>
				<div class='listBody'>
					<ul>
						<li>Item 1</li>
						<li>Item 2</li>
						<li>Item 3</li>
						<li>Item 4</li>
						<li>Item 5</li>
						<li>Item 6</li>
					</ul>
				</div>
				<div class='footer'>
					footer
				</div>				
			</div>
		
			<div class='list'>
				<div class='header'>
					header
				</div>
				<div class='listBody'>
					<ul>
						<li>Item 1</li>
						<li>Item 2</li>
						<li>Item 3</li>
						<li>Item 4</li>
						<li>Item 5</li>
						<li>Item 6</li>
					</ul>
				</div>
				<div class='footer'>
					footer
				</div>				
			</div>
		
			<div class='list'>
				<div class='header'>
					header
				</div>
				<div class='listBody'>
					<ul>
						<li>Item 1</li>
						<li>Item 2</li>
						<li>Item 3</li>
						<li>Item 4</li>
						<li>Item 5</li>
						<li>Item 6</li>
						<li>Item 1</li>
						<li>Item 2</li>
						<li>Item 3</li>
						<li>Item 4</li>
						<li>Item 5</li>
						<li>Item 6</li>
					</ul>
				</div>
				<div class='footer'>
					footer
				</div>				
			</div>
		
		
	</div>
</div>



<% include ../partials/footer %>